body{
    background-color: white;
    font-family:'Source Sans Pro', sans-serif;
    margin: 0;
}
ol,
ul{
    margin: 0;
    padding: 0;
    list-style:none;
}
figure{
    margin: 0;
}

header{
    background-color: #ffffff;
}
section{
    background-color: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Fjalla One', sans-serif;
    font-weight: bold;
}
h1{
    font-size: 40px;
    line-height: 1.5em;
    letter-spacing: -.2px;/*Sepracion enrtre letras*/
    color: white;
   /* margin: 100px 150px 70px 30px;*/
    margin:0
    /*text-transform: capitalize;
    text-decoration: overline*/
}
h1 strong{
    color:#026fff;
}
h2{
    color:#026fff;
    text-transform:uppercase;
    font-family:'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 40px;


}
.hero{
    height: 300px;
    /* background-image: url('../Imagen/Img1.jpg'); */
    /* background-size: 400px 300px; */
    /* background-repeat: no-repeat; */
    /* background-position-x:right; */
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.hero-image{
    width: 300px;
    height: 300px;
    object-fit:cover ;
}

.portfolio{
    background: #FAFAFA;   
    padding: 20px;    
}
.project-course{
    margin:10px 0;
}
.project-course,
.project-date,
.project-url{
    margin: 10px 0;
}
.project-description{
    font-size:20px ;
}
.project strong{
    font-family:'Fjalla One', sans-serif; ;
}
.project{
    border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 10px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.project-title{
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px;

}
.project-details{
    width: 500px;
}
.project-imageContainer{
    width: 500px;
  
}
.menu{
    height: inherit;
}
.header{
    background-color:#000000;
    color: white;
    display: flex;
    justify-content: space-between;
    height: 90px;
    height: 70px;
    align-items: center;
    justify-content: space-between;
}
.header a{
    color: white;
    text-decoration: none;
}     
.header ol{
    display: flex;
    height: inherit;
}
.header ol li{
    height: inherit;
}  
.header a{
    color: white;
    text-decoration: none;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0 10px;

}
.footer{
    color: white;
    background-color: #1b2127 ;
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-between;
}
.footer img{
    vertical-align: middle;
}
.footer a{
    color: white;
}
/*Eventod*/
.event-list{
    display: flex;
    flex-wrap: wrap;
}
.event-list-title{
    margin-left: 20px;
}
.event{
    /*border: 1px solid red;*/
    margin: 10px;
    width:480px ;
    flex-shrink: 0;
    border-radius: 10px;
    overflow: hidden;
    background: #f4fbff;
}
.event img{
    width: 480px;
    height: 200px;
    object-fit: cover;
}
.event-detail{
    margin: 20px 40px;
    margin-top: -40px;
    background-color: white;   
    position: relative;/*Colocamos el elemento enciam de la imegen*/
    padding: 20px;
    text-align: center;

}
.event-description{
    text-align: left;    
}
.event-url{
    border: 1px solid#026fff;
    padding: 5px 20px;
    text-decoration: none;
    color:#026fff;
    border-radius: 5px;
}
.contact{
    background-color:#056fff ;
    color: white;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.social{
    
}
.social-link{
    display: inline-block;
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
    margin: 0 10px;

}
.social-link.twitter{
    background-image:url("../Imagen/twitter.svg") ;
   
}
.social-link.facebook{
    background-image:url("../Imagen/facebook.svg") ;
}
.social-link.github{
    background-image:url("../Imagen/github.svg") ;
}
.social-link.instagram{
    background-image:url("../Imagen/instagram.svg") ;
}
.form-email input{
    border-color: gray;
    border-style: solid;
    padding: 10px 20px 10px 25px;
    background-image: url("../Imagen/envelope.svg");
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
    
}
.form-email button{
    display: block;
    background: transparent;
    color: white;
    padding: 10px 0px;
    border-radius: 5px;
    width: 100px;
    margin:10px auto 0;
    margin-top: 10px;
   
}
.form-email h3{
    font-family:'Source Sans Pro', sans-serif;
}
.container{
    width: 1000px;
    /* border: 1px solid red; */
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap:inherit ;
}